/* styles.css */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#openChatBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

#openChatBtn:hover{
    bottom: 10px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.chat-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

#closeChatBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
}